body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-areas: 
    "banner banner"
    "a1 a2"
    "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 200px 300px;
    
}

header {
    width: 100%;
    grid-area: nav;
    background-color: #fff;
    height: 50px;
    z-index: 5;
}

nav{
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-areas: 
    "burger logotype search";
    grid-template-columns: 15% 25% 60%;
    background-color: #ffc506;
}

#banner{
    grid-area: banner;
    background-color: #ffcccc;
    display: flex;
    justify-content: center;
    background: linear-gradient(transparent, black) ;
    color: white;
    max-width: 100%;
}

#ratings img{
    width: auto;
    max-height: 15px;
    margin: 0px 5px;
}

.ratingContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#banner a{
    text-decoration: none;
    color: darkblue;
}

#a1 {
    grid-area: a1;
    background-color: #ffc506;
    display: flex;
}

input:focus{
    outline:none;
}

#a2 {
    grid-area: a2;
    background-color: rgb(46, 112, 92);
    display: flex;
}

footer {
    grid-area: footer;
    background-color: red;
    display: flex;
}

footer a{
    text-decoration: none;
}

#spinnerImage {
    max-height: 250px;
    width: auto;
    z-index: -2;
}


#logo{
    text-decoration: none;
    color: orchid;
    grid-area: logotype;
}

#burger{
    min-width: 48px;
    height: auto;
    grid-area: burger;
}

#searchContainer{
    grid-area: search;
    display: flex;
    justify-content: right;
}
#searchContainerExpanded{
    display: flex;
    height: 50px;
    background-color: bisque;
    grid-area: burger;
    grid-column: 1 / span 3;
    justify-content: right;
    width: 100%;
}
#searchContainerExpanded form{
    display: block;
    width: 100%;
}
#searchContainerExpanded form input{
    display: block;
    height: 100%;
    background-color: transparent;
    font-size: 25px;
    border: none;
    margin: 0;
    width: 80%;
}

#searchContainer form{
    display: none;
}
#searchContainer img{
    min-width: 36px;
}

#burgermenu{
    position: absolute;
    top: -50px;
    height: 100px;
    width: 100%;
    background-color: black;
    transition: top 0.3s ease-in-out;
    z-index: -1;
}

#burgermenu ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 10px;
}

.navlink {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    
}